{{#each diaries as |diary|}}
	{{log diary}}
	
	<div id='diary-entry'>
		<section data-id={{diary.id}}>
			<div class='diary-data'>
				<h1 class='userText' data-id={{diary.id}}> <small>Date: {{limit diary.date 10}}</small></h1>

				{{#if diary.note}}
				<p class="userText">{{diary.note}}</p>
				{{else}}
				No note provided.
				{{/if}}
			</div>
			<div class='diary-forms'>
				<button type="submit" class="delete-entry">Remove</button>
				<button type="submit" class="update-entry">Update</button>
			</div>
		</section>
	</div>
{{/each}}

